[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"

[dev-packages]
pylint = "*"
coverage = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
